Package: deepin-image-screensaver-dbgsym
Source: deepin-image-screensaver
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Deepin Packages Builder <packages@deepin.com>
Installed-Size: 713
Depends: deepin-image-screensaver (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for deepin-image-screensaver
Build-Ids: 01325699bc20417a9b1d77d717d6dcbcb2bac7fb
